In [5]:
import pandas as pd

# Load AirPassengers dataset
air_passengers = pd.read_parquet("../data/processed/air_passengers.parquet")
air_passengers.head()

          time  value
0  1949.000000    112
1  1949.083333    118
2  1949.166667    132
3  1949.250000    129
4  1949.333333    121

In [6]:
# Load GDP data
gdp = pd.read_parquet("../data/processed/gdp_fred.parquet")
print(gdp.shape)
gdp.head()

(60, 1)

                  GDP
DATE
2010-01-01  14764.610
2010-04-01  14980.193
2010-07-01  15141.607
2010-10-01  15309.474
2011-01-01  15351.448

In [7]:
# Load World Bank Population data
population = pd.read_parquet("../data/processed/worldbank_population.parquet")
print(population.shape)
population.head()

(27472, 3)

    country       date  Population
0  Anguilla 2100-01-01         NaN
1  Anguilla 2095-01-01         NaN
2  Anguilla 2090-01-01         NaN
3  Anguilla 2085-01-01         NaN
4  Anguilla 2080-01-01         NaN

### testing import packages

In [12]:
# Add src directory to Python path
import os
import sys
src_path = os.path.abspath(os.path.join("..", "src"))
if src_path not in sys.path:
    sys.path.append(src_path)

# Now you can import your utilities
# from dataloader import load_parquet
from preprocessing import *
from evaluation import evaluate_forecast
from utils import plot_series

In [14]:
sys.path

['/home/deadshot/GitHub/timeseries-forecasting-hub/venv/lib/python312.zip',
 '/home/deadshot/GitHub/timeseries-forecasting-hub/venv/lib/python3.12',
 '/home/deadshot/GitHub/timeseries-forecasting-hub/venv/lib/python3.12/lib-dynload',
 '',
 '/home/deadshot/GitHub/timeseries-forecasting-hub/venv/lib/python3.12/site-packages',
 '/home/deadshot/GitHub/timeseries-forecasting-hub/src']